<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-warning-subtle">

        <h1 class="text-center text-decoration-underline " id="head">About Us</h1>

        <div class="fst-italic fs-4">

        <p> ChocoLuv take great pride in being one of India's select manufacturers of the finest chocolates, cocoa products and cocoa derivatives. Our products are supplied to chocolate makers and chocolate users across the world, from local bakeries to multi - national companies. Incorporated in the year 1989 and having commenced operations in 1992, Chocoluv is a well known reliable business partner for the supply of cocoa and chocolate products.

        Starting from the sourcing of fine quality cocoa beans to processing of cocoa beans and delivering the finest chocolates... Lotus's has a fully integrated manufacturing facility and is built with the best technologies and expertise from across the globe.</p>
        </div>
    </div>
</p>
          
<p>OUR TRENDING CHOCOLTAES ARE GIVEN BELOW</p>
</div>
<div class="container">
<div class="row text-danger fs-2 text-center fst-italic">
  <div class="col-4 ">
    <img src="{% static 'images/pro2.jpg' %}"class="rounded-circle">
    <p>Choco Bar</p>
    <div class="border border-success p-2 mb-2 text-secondary fs-3 bg-info-subtle">CHOCOBAR is made using creamier vanilla ice mix prepared with milk solids, skimmed milk powder, sugar, and cream is then dipped into thickest milk choco dip.</div>
  </div>
  
  <div class="col-4">  
    <img src="{% static 'images/pro3.jpg' %}"class="rounded-circle">
    <p>Chuckles</p>
    <div class="border border-success p-2 mb-2 text-secondary fs-3 bg-info-subtle">Inspired by our malted puff CHUCKLES®, this bar contains malted puff pieces enrobed in a rich, creamy layer of milk chocolate, perfect to hit that sweet spot.</div>
  </div>
  <div class="col-4">
    <img src="{% static 'images/pro4.jpg' %}" class="rounded-circle"> 
    <p>Gifting</p>
    <div class="border border-success p-2 mb-2 text-secondary fs-3 bg-info-subtle">It not only contains delicious chocolate bars but also has a bottle of honey, a bottle of jelly, and more. The packaging also looks sophisticated.They are Passionate · chocolates gift</div>

  </div>  
  <div class="col-4">
    <img src="{% static 'images/pro7.jpg' %}" class="rounded-circle">
    <p>Cocoa butter</p>
    <div class="border border-success p-2 mb-2 text-secondary fs-3 bg-info-subtle">cocoa butter, also called theobroma oil, pale-yellow, edible vegetable fat obtained from cocoa beans, having a mild chocolate flavour and aroma, and used in the manufacture of chocolate </div> 
  </div>
  <div class="col-4">
    <img src="{% static 'images/pro6.jpg' %}" class="rounded-circle">
    <p>Choco Drops</p>
    <div class="border border-success p-2 mb-2 text-secondary fs-3 bg-info-subtle">Choqo Drops White are vegan and 100% organic drops with creamy and slight nutty taste. They have the irressistable aroma of the coconut and cacao butters and the sweetness of the coconut.</div>
  </div>
  <div class="col-4">
    <img src="{% static 'images/pro1.jpg' %}" class="rounded-circle"> 
    <p>On and on</p>
    <div class="border border-success p-2 mb-2 text-secondary fs-3 bg-info-subtle">ON & ON is an easy way to add to a healthy lifestyle. ON & ON Nutrilife is a wonder food for adults. It contains Proteins, Carbohydrate, Dextrose, Vitamins, Fats, Minerals etc in right proportion.</div>
  </div>

</div>

</div>  


</body>
</html>